config.json
*.log
error.png
.config
*.swp
chromedriver.exe

# Local config/data files
**/config.json
**/winconfig.json
**/historique_gazpar.json*
**/historique_jours_litres.csv*
*.zip
demo
support
veolia_data.csv
veolia_test_data.csv
getData


# Local script
do[A-Z]*
run[A-Z]*
# Local temporary file
?
