---
files: ^(.*\.(py|json|md|sh|yaml|yml|cfg|txt))$
exclude: ^(\.[^/]*cache/.*|demo/.*|debug/.*)$
repos:
  # Disable because this does not work for the main author.
  # - repo: https://github.com/pre-commit/mirrors-prettier
  #   rev: "v2.7.1"
  #   stages: [manual]
  #   hooks:
  #     - id: prettier
  - repo: https://github.com/executablebooks/mdformat
    # Do this before other tools "fixing" the line endings
    rev: 0.7.17
    hooks:
      - id: mdformat
        name: Format Markdown
        entry: mdformat # Executable to run, with fixed options
        language: python
        types: [markdown]
        args: [--wrap, "75", --number]
        # files: ^HomeAssistant.md$
        additional_dependencies:
          - mdformat-toc
          - mdformat-beautysh
          - mdformat-config
          - mdformat-gfm
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: [--branch, main]
      - id: check-yaml
        # Exclude because of bug in checker
        exclude: ^(docker-compose\.yml|.*/release-drafter\.yml)$
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-json
      - id: mixed-line-ending
      - id: check-builtin-literals
      - id: check-ast
      - id: check-merge-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-docstring-first
      - id: fix-byte-order-marker
      - id: check-case-conflict
      - id: pretty-format-json
        exclude: ^(.vscode|.devcontainer)
        args:
          # order of keys in manifest.json is "special"
          - --no-sort-keys
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.3
    hooks:
      - id: prettier
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.32.0
    hooks:
      - id: yamllint
        args:
          - --no-warnings
          - -d
          - "{extends: relaxed, rules: {line-length: {max: 90}}}"
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.10.1
    hooks:
      - id: pyupgrade
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
        args:
          - --safe
          - --quiet
          - -l 79
  - repo: https://github.com/Lucas-C/pre-commit-hooks-bandit
    rev: v1.0.6
    hooks:
      - id: python-bandit-vulnerability-check
        args: [--skip, "B105,B110,B311,B404,B603", --recursive, apps]
  - repo: https://github.com/fsouza/autoflake8
    rev: v0.4.1
    hooks:
      - id: autoflake8
        args:
          - -i
          - -r
          - --expand-star-imports
          - .
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - pyproject-flake8>=0.0.1a2
          - flake8-bugbear>=22.1.11
          - flake8-comprehensions>=3.8.0
          - flake8_2020>=1.6.1
          - mccabe
          - pycodestyle>=2.10.0
          - pyflakes>=2.4.0
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/codespell-project/codespell
    rev: v2.2.5
    hooks:
      - id: codespell
        exclude: (\.md|apps.yaml|translations/.*.yaml)$
  - repo: https://github.com/pre-commit/mirrors-pylint
    rev: v3.0.0a5
    hooks:
      - id: pylint
        # exclude: ^$
        additional_dependencies:
          - hassapi
          - pyflakes
          - paho-mqtt
          - aiohttp
        args:
          - --reports=no
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args:
          - --ignore-missing-imports
          - --install-types
          - --non-interactive
          - --check-untyped-defs
          - --show-error-codes
          - --show-error-context
        additional_dependencies:
          - paho-mqtt
  - repo: https://github.com/IamTheFij/docker-pre-commit
    rev: v3.0.1
    hooks:
      - id: docker-compose-check
  - repo: https://github.com/lovesegfault/beautysh.git
    rev: v6.2.1
    hooks:
      - id: beautysh
        exclude: (run.sh)$
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.9.0.5
    hooks:
      - id: shellcheck
        files: ^[^\.].*\.sh$
        args: [--shell, bash]
